@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;
  background-color: #3e3c3c;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.header-content a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 1.5rem;
  padding: 0.8em 0;
}

.links {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  padding: 1rem;
}

.links img {
  padding-top: 0.5rem;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #3e3c3c;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu-toggle:checked ~ .links {
    display: flex;
  }
}

@media (min-width: 768px) {
  .links {
    display: flex !important;
    flex-direction: row;
  }
}

.section {
  background-color: #1c1a19;
}

.first_pg {
  display: flex;
  width: 100%;
}

.text_links {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.media_links {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
}

.text {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  color: white;
}

.hello {
  color: #f55800;
  font-family: 'Crete Round', serif;
  font-size: 72px;
}

.text h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.text p {
  font-size: 23px;
}

.fp_image {
  margin-left: auto;
  background-color: #1c1a19;
}

.fp_image img {
  width: 80%;
  float: right;
}
